<br>
<div id="loginwindow">
	<div id="hello">
		<font style="color:white;  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;">Welcome</font>
	</div>
<br>
<%= link_to image_tag("googlelogin.png"), "/auth/google_oauth2" %>
</div>


